$sa-dark-blue: #00496e;
$sa-light-blue: #1ea5df;

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $sa-light-blue;
}

h1 {
  width: 50px;
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 380px;
  
  font-size: 16px;
  font-weight: 100;
  line-height: 1.1;

  background: url(../images/smartasset_logo_22inches_blue.png) 0 50% no-repeat;
  background-size: 86%;
}

main {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;

  width: 600px;
  padding: 30px;
  color: white;
  background-color: $sa-dark-blue;
}

form {
  padding: 20px;
  border: none;
  color: $sa-dark-blue;
  background-color: #fff;

  &:not(:first-of-type) {
    padding-top: 0;
  }
}

label {
  margin-left: 2em;
}

input[type=radio] {
  width: 2em;
  cursor: pointer;
}

input[type=text] {
  width: 300px;
  font-size: 14px;
  padding: .5em;
  outline: none;
}

button {
  padding: .4em;
  font-size: 16px;
  cursor: pointer;
}